/* :root {
  --main-bg-color: pink;
} */
.App {
  text-align: center;
  font-family: 'Urbanist', sans-serif;
  font-size: 2em;
}

.nav {
  /* background-color: var(--main-bg-color); */
  height: 2em;
  padding-top: 2em;
  /* position: left; */
  text-align: right;
  /* text-decoration: none; */
}


