:root{
   --main-bg-color:pink;
}

.home {
   display: flex;
   flex-direction: column;
   justify-content: center;
   /* border: 2px solid blue; */
}

.home-banner {
   margin-top: 2em;
   text-align: left;
   padding-left: 2em;
   /* background-color: var(--main-bg-color); */
   height: 20em;
}

.home-converter-container {
   /* border: 3px solid pink; */
   display: flex;
   justify-content: center;
   margin-top: 2em;
}

.home-usd {
   border: 3px solid orange;
}

.home-php {
   border: 3px solid violet;
}

.transfer-animation {
   overflow: hidden;
   border-right: .05em solid orange;
   white-space: nowrap;
   margin: 0 auto;
   letter-spacing: .15em;
   animation: caret 1s steps(1) infinite;
}

@keyframes caret {
   50% {
      border-color: transparent;
   }
}

img {
   width: 20em;
   position: absolute;
   /* left: 1px; */
   right: 0px;
   /* top: 145px; */
   bottom: 10px;
   z-index: -1;
}


