:root{
   --main-bg-color:pink;
}

.home {
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin-top: 5em;
   /* border: 2px solid blue; */
}

.home-banner {
   margin-top: 2em;
   text-align: left;
   padding-left: 2em;
   /* background-color: var(--main-bg-color); */
   height: 20em;
}

.home-converter-container {
   background-color: hsl(24, 100%, 50%, .57);
   border-radius: 5em;
   /* width: 78%; */
   display: flex;
   justify-content: center;
   /* margin: 5em; */
   margin-left: 4em;
   margin-right: 4em;
   margin-top: 2em;
   justify-content: space-evenly;
   box-shadow: 10px 10px rgb(0, 0, 0, 0.8);
   /* font-family: "Caveat"; */
}

.transfer-animation {
   overflow: hidden;
   border-right: .05em solid orange;
   white-space: nowrap;
   margin: 0 auto;
   letter-spacing: .15em;
   animation: caret 1s steps(1) infinite;
}

@keyframes caret {
   50% {
      border-color: transparent;
   }
}



